[defaults]
inventory = inventory.ini
remote_user = tertol
private_key_file = ~/.ssh/ansible
interpreter_python = auto_silent
inject_facts_as_vars = false
deprecation_warnings = false

[ssh_connection]
transfer_method = piped
